$light: #fff;
$dark: #555555;
$color: #61cdf5;

html{
  // font-family: 'Merriweather', serif;
// font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;

}
a{
  text-decoration: none;
  transition: 300ms;
}
a:hover{
  background: $color;
  // background-color: $light;
  color: $light;
  border: 1px solid $color;
}

button{
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid $light;
  background: none;
  color: $light;
  width: 100px;
  height: 50px;
  transition: 300ms;
  // border-radius: 50px;

}
button:hover{
  background: $color;
  // background-color: $light;
  color: $light;
  border: 1px solid $color;
  transition: 300ms;
}

.container{
  padding-top: 10vh;
}
